.flight-dt{
    width: 1200px;
    margin: 0 auto;
    padding: 0;
    margin-top: 80px;
    background-color: #e1e7ee !important;
}
.cal{
    padding: 10px; 
    height: 105px; 
    max-width: 895px;
}

.ht{
    height: 80px;
}

.fltHpyWrp {
    width: 1200px;
    margin: 0 auto;
}
.padT10 {
    padding-top: 10px;
}

.fltHpyFilter {
    width: 285px;
    float: left;
}
.flexCol {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.dF {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
}

.brdRd8 {
    border-radius: 8px;
}
.whiteBg {
    background: #fff;
}

.stickyHpy {
    position: sticky;
    top: 0;
    z-index: 9;
}
.pad20 {
    padding: 20px;
}

.quicks {
    font-family: "QuickSand",Helvetica,Arial,sans-serif;
}
.black {
    color: #000;
}
.padB20 {
    padding-bottom: 20px;
}
.justifyBetween {
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
}
.marginB10 {
    margin-bottom: 10px;
}

.fb {
    font-weight: bold;
    font-style: normal;
}

.ico16 {
    line-height: 1;
    font-size: 16px;
}

.curPointFlt {
    cursor: pointer;
}

.ico12 {
    line-height: 1;
    font-size: 12px;
}

.grey {
    color: #666;
}

.brdrRd5 {
    border-radius: 5px;
}

.marginB5 {
    margin-bottom: 5px;
}

.marginB20 {
    margin-bottom: 20px;
}
.marginNLR20 {
    margin-left: -20px;
    margin-right: -20px;
}
.borderBtm {
    border-bottom: 1px solid #e6e6e6;
}
.padB10 {
    padding-bottom: 10px;
}
.ico14 {
    line-height: 1;
    font-size: 14px;
}

.flexWrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.fltrStp label:nth-child(2n+1) {
    padding-right: 15px;
}
.fltrStp label {
    flex-shrink: 0;
    padding-bottom: 10px;
}

.alignItemsCenter {
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
}

.justifyCenter {
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
}

.width50 {
    width: 50%;
}

.custCheck1:not(:checked) {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.ico11 {
    line-height: 1;
    font-size: 11px;
}
.padTB10 {
    padding-top: 10px;
    padding-bottom: 10px;
}
.fltHpyStp {
    width: 100%;
    border-radius: 2px;
    color: #0a2549;
}
.paleGreyBg3 {
    background-color: #f3f6f8;
}
.padLR5 {
    padding-left: 5px;
    padding-right: 5px;
}
.txtCenter {
    text-align: center;
}




.fltHpyResults {
    width: 895px;
    float: right;
}

.fl {
    float: left;
}
.marginTB5 {
    margin-top: 5px;
    margin-bottom: 5px;
}
.width100 {
    width: 100%;
}
.oh {
    overflow: hidden;
}
.posRel {
    position: relative;
}
.justifyAround {
    -webkit-justify-content: space-around;
    -ms-justify-content: space-around;
    justify-content: space-around;
}
.fltHpySrt li {
    width: 16%;
}

.clr {
    clear: both;
}

.fltHpyRsltCard {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.13);
}
.marginT10 {
    margin-top: 10px;
}
.padLR20 {
    padding-left: 20px;
    padding-right: 20px;
}
.padLR0 {
    padding-left: 0;
    padding-right: 0;
}
.justifyEnd {
    -webkit-justify-content: flex-end;
    -ms-justify-content: flex-end;
    justify-content: flex-end;
}
.padT5 {
    padding-top: 5px;
}
.greyLt {
    color: #999;
}
.flightImagesNew {
    max-width: 100%;
    max-height: 30px;
    padding-right: 10px;
    border: 0;
}

.padR10 {
    padding-right: 10px;
}
.ico13 {
    line-height: 1;
    font-size: 13px;
}
.padL5 {
    padding-left: 5px;
}

.alignItemsEnd {
    -webkit-align-items: flex-end;
    -ms-align-items: flex-end;
    align-items: flex-end;
}
.fGS0 {
    flex-grow: 0;
    flex-shrink: 0;
}
.padL0 {
    padding-left: 0;
}
.pad10 {
    padding: 10px;
}
.width11 {
    width: 11%;
}
.width29 {
    width: 29%;
}
.db {
    display: block;
}
.textOverflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.ico18 {
    line-height: 1;
    font-size: 18px;
}
.vh {
    visibility: hidden;
}
.hpyOffr {
    background-color: #FFFAE9;
    padding-right: 5px;
    border-radius: 10px;
    color: #846418;
}
.fmtTooltip {
    position: relative;
    cursor: pointer;
    display: inline-block;
}
.button.fltbook {
    border-radius: 5px;
    padding: 7px 0;
    background-color: #f37638;
    border: solid 1px #f37638;
}
.clearfix::before, .clearfix::after {
    display: table;
    content: " ";
}
.fr {
    float: right;
}
.widthF105 {
    width: 105px;
}
.button {
    border-radius: 8px;
    cursor: pointer;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 7px 15px;
    text-align: center;
    color: #fff;
    border: 0;
    font-size: 14px;
    -webkit-appearance: none;
}
.price{
    justify-content: center;
    font-size: 20px;
}

/* rescalendar */
.prev{
    position: absolute; 
    top: 50%; 
    left: 0px; 
    transform: translateY(-50%);
}
.owl-next{
    margin-left: -20px;
}

/* .owl-prev {
    cursor: pointer;
    text-indent: -9999px;
    min-height: 66px;
    padding: 23px 0;
    position: absolute;
    top: 0;
    width: 25px;
    left: -25px;
    border-right: 1px solid hsla(0,0%,59.2%,.2);
}
.owl-next {
    right: -25px;
    border-left: 1px solid hsla(0,0%,59.2%,.2);
    cursor: pointer;
    text-indent: -9999px;
    min-height: 66px;
    padding: 23px 0;
    position: absolute;
    top: 0;
    width: 25px;
} */
.next{
    position: absolute; 
    top: 50%; 
    right: 0px;
    transform: translateY(-50%);
}
.rescalendar{
	max-width: 1000px;
	overflow: auto;
	margin: 0 auto;
}

.rescalendar_controls{
	/* margin-left: 65px; */
	padding: 0;
	display:flex;
}

.rescalendar_controls button{
	border-style: none;
	background-color:#fff;
}
.rescalendar_controls button:focus{
	border-style: none;
	outline: none;
}

.rescalendar_controls button.move_to_tomorrow{
    padding-right: 17px;
	-webkit-transform: scaleX(-1);
	  transform: scaleX(-1);
}

.rescalendar_controls button.move_to_yesterday{
    padding-right: 17px;
}

.rescalendar_table{
	margin: 0 auto;
	display:inline;
	width: auto;
	border-collapse:inherit;
}

.rescalendar_table .firstColumn{
	width: 100px;
	text-align: left;
}

.rescalendar_day_cells td{
    border-right: 1px solid hsla(0,0%,59.2%,.2);
	width: 110px;
	border-radius: 5px;
	    padding-left: 17px;
        padding-right: 17px;
        padding-top: 15px;
}

.rescalendar_day_cells td.disabledDay{
	color: #aaa;
	background: #eee;
	pointer-events: none;
}

.rescalendar_day_cells span{
	padding: 0 2px 0px;
	font-size: 14px;
	width: 22px;
}

.rescalendar_day_cells span.day{
	display: block;
	width:44px;
	padding-bottom:10px;
}

.rescalendar_day_cells td.today{
	
}

.rescalendar_day_cells td.middleDay{
	font-weight:bold;
	color:#000000;
    border-bottom:3px solid #053ABC
}

.rescalendar_day_cells td{
	color:#8F8F8F;
	text-align:center;
}

.rescalendar_day_cells td:hover{
	background: #eee;
	cursor: pointer;
	color: #000;
}
.rescalendar_day_cells span.day{
    font-size: 18px;
    margin: 0 auto;
}

.rescalendar_day_cells span.week{
	font: lighter 12px/15px Roboto;
	text-align:center;
}

.rescalendar_day_cells span.month{
	color: #757575;
    margin-bottom: 5px;
    line-height: 20px;
    text-align:center;
    font-size: 13px;
}
.rescalendar td a{
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
}

.rescalendar td .hasEvent{
	background: yellow;
}