.ser-container{
    margin-top: 85px;
    width: 100%;
    margin-top: 110px;
}

.ser-col{
    position: relative;
    padding-bottom: 15px;
}

.ser-banner{
    height: 280px;
    background-size: initial !important;
    background-position: initial !important;
}

.ser-fullscreen{
    height: 360px !important;
}


.tripStatusWrap {
    width: 100%;
    margin: 0 auto;
    display: flex;
    height: 80px;
    padding: 20px 30px 0;
    background: #fff;
    border-radius: 8px 8px 0 0;
    box-shadow: 0 2px 20px 0 rgba(0,0,0,.1);
}

.tripStatusWrap ul, .tripStatusWrap ul li {
    display: flex;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.tripStatusWrap ul, .tripStatusWrap ul li {
    display: flex;
}
*, ::after, ::before {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
}
.tripStatusWrap ul li a {
    margin-right: 40px;
    padding-right: 10px;
    cursor: pointer;
    position: relative;
}
.makeFlex {
    display: flex;
}

.cm__myTripSprt {
    background-image: url(https://imgak.mmtcdn.com/mima/images/Desktop/mytripSprite.png);
    background-size: 700px 850px;
    background-repeat: no-repeat;
    display: inline-block;
    flex-shrink: 0;
}
.cm__myTripSprt--tabUpcoming {
    width: 27px;
    height: 27px;
    background-position: -1px -28px;
}

.tripStatusWrap ul li .tripStatusWrap__statusText {
    display: flex;
    flex-direction: column;
}

.tripStatusWrap .txtFild {
    /* margin-left: auto; */
    width: auto;
    align-self: flex-start;
}

.tripStatusWrap .txtFild-button{
     margin-left: auto;
     width: auto;
     align-self: flex-start;
}

.txtFild__fieldContanr {
    position: relative;
    margin-right: 20px;
}

.txtFild__fieldContanr--search .txtFild__inputFld {
    padding-left: 44px;
}
.txtFild__inputFld {
    border-radius: 4px;
    border: 1px solid #9b9b9b;
    background-color: #fff;
    width: 100%;
    padding: 11px 10px;
        padding-left: 10px;
    outline: 0;
    color: #4a4a4a;
}
.font14 {
    font-size: 14px;
    line-height: 18px;
}

.txtFild__fieldContanr .cm__myTripSprtFlight--search {
    position: absolute;
    left: 12px;
    top: 13px;
    opacity: .7;
    pointer-events: none;
}
.cm__myTripSprt {
    background-image: url(https://imgak.mmtcdn.com/mima/images/Desktop/mytripSprite.png);
    background-size: 700px 850px;
    background-repeat: no-repeat;
    display: inline-block;
    flex-shrink: 0;
}
.disable{
    display: none;
}


.disp {
    display: block;
}

  .page-content {
    margin: 20px auto;
}
.u-layout-2-col {
    width: 1280px;
    margin: 0 auto;
}
.u-layout-2-col .u-layout-col-1 {
    width: 980px;
    padding-right: 30px;
    margin: 0 auto;
    vertical-align: top;
}
.u-ib {
    display: inline-block !important;
}
.u-box {
    box-shadow: 0 0 10px rgba(0,0,0,.12);
    background-color: #fff;
    border-radius: 2px;
}
  .page-content .c-cashback-timeline-widget,   .page-content .card-section,   .page-content .trips-btn {
    margin-bottom: 20px;
}
  .page-content .trip-dtl .trip-hdr {
    line-height: 24px;
    padding: 0 15px;
}
  .page-content .trip-dtl .trip-hdr .trip-hdr-block-lg {
    width: 37.5%;
    padding: 10px 0;
}
.u-v-align-middle {
    vertical-align: middle;
}
  .page-content .trip-dtl .col-hdr {
    color: #878787;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
}
  .page-content .trip-dtl .col-cntnt {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    color: #212121;
}
.page-content .trip-dtl .flight-leg-detail {
    padding: 5px 15px;
}
.page-content .trip-dtl .trip-info .airline-info {
    padding: 10px 0;
}
.page-content .trip-dtl .trip-info .airline-info .img-wrapper {
    line-height: 0;
}
.page-content .trip-dtl .trip-info .airline-info .img-wrapper img {
    height: 45px;
}
.page-content .trip-dtl .trip-info .airline-info .flight-detail {
    margin-left: 10px;
}
.page-content .trip-dtl .trip-info .airline-info .flight-detail .flight-seg {
    color: #212121;
    font-weight: 500;
}
.u-interpunct {
    width: 4px;
    height: 4px;
    margin: 2px 7px;
    border-radius: 4px;
    background: #212121;
    display: inline-block;
    vertical-align: middle;
}
.page-content .trip-dtl .trip-info .airline-info .flight-detail .flight-number {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.4;
}
.page-content .trip-dtl .trip-info .airline-info .flight-detail .flight-status.success {
    background-color: #559b09;
}
.page-content .trip-dtl .trip-info .airline-info .flight-detail .flight-status {
    margin-left: 15px;
    margin-top: -2px;
    padding: 1px 10px 0;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
}
.page-content .trip-dtl .flight-info {
    margin-right: 20px;
    width: 100%;
    padding: 10px 0;
    border-top: 1px solid rgba(0,0,0,.12);
}
.page-content .trip-dtl .flight-info .depart {
    width: 25%;
    text-align: left;
    display: inline-block;
    vertical-align: top;
}
.page-content .trip-dtl .col-hdr {
    color: #878787;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
}
.page-content .trip-dtl .flight-info .depart .col-cntnt {
    font-size: 30px;
    line-height: 1.2;
}
.page-content .trip-dtl .col-cntnt {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    color: #212121;
}
.u-font-w-semi-bold {
    font-weight: 500;
}
.page-content .trip-dtl .flight-info .duration {
    width: 50%;
    padding-left: 114px;
    display: inline-block;
    vertical-align: top;
}
.page-content .trip-dtl .flight-info .duration .duration-cntnt {
    text-align: left;
}
.page-content .trip-dtl .col-hdr {
    color: #878787;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
}
.page-content .trip-dtl .flight-info .duration .col-cntnt {
    text-transform: lowercase;
    font-size: 30px;
    line-height: 1.2;
}
.page-content .trip-dtl .flight-info .arrive {
    width: 25%;
    text-align: left;
    display: inline-block;
    vertical-align: top;
}
.page-content .trip-dtl .trip-info .layover {
    position: relative !important;
    margin: 10px 0;
    text-align: center;
}
.page-content .trip-dtl .trip-info .layover .layover-separator-line {
    background: rgba(40,116,240,.4);
    height: 1px;
    position: absolute !important;
    top: 50%;
    width: 100%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.page-content .trip-dtl .trip-info .layover .layover-inner {
    display: inline-block !important;
    position: relative !important;
    background: #fff;
    z-index: 1;
    border: 1px solid rgba(40,116,240,.4);
    padding: 3px 20px;
    border-radius: 25px;
    font-size: 12px;
}
.page-content .trip-dtl .trip-info .layover .layover-inner .text-bold {
    font-weight: 500;
}
.page-content .trip-dtl .psngr-info {
    padding: 15px 0;
    border-top: 1px solid rgba(0,0,0,.12);
}
.page-content .trip-dtl .psngr-info .passengers-name {
    width: 37.5%;
    padding-right: 5px;
    vertical-align: top;
}
.page-content .trip-dtl .flight-leg-detail:last-child .trip-info .btm-brdr {
    display: none !important;
}
.page-content .trip-dtl .trip-info .btm-brdr {
    height: 2px;
    background-color: rgba(0,0,0,.38);
    margin: 5px 10px 15px 5px;
}
.page-content .trip-dtl .psngr-info .passengers-type {
    width: 37.5%;
    vertical-align: top;
}
.page-content .trip-dtl .psngr-info .passengers-pnr {
    width: 25%;
    vertical-align: top;
}






.u-layout-2-col .u-layout-col-2 {
    width: 300px;
    vertical-align: top;
}
  .page-content .fare-dtl {
    margin-bottom: 20px;
}
.c-accordion-item {
    color: #212121;
}
.c-accordion-item.expanded .accordion-hdr {
    background-color: #e1e1e1;
    color: #878787;
}
.c-accordion-item .accordion-hdr {
    background-color: #e1e1e1;
    color: #878787;
    font-weight: 500;
}
  .page-content .fare-dtl .accordion-body {
    padding: 0;
}
  .page-content .fare-dtl .accordion-hdr-cntnt {
    background-color: #fff;
    color: #878787;
    text-transform: uppercase;
    font-size: 14px;
    border-bottom: 1px solid rgba(0,0,0,.12);
}
.c-accordion-item .accordion-hdr .accordion-hdr-cntnt {
    display: inline-block;
    vertical-align: middle;
    line-height: 40px;
    padding: 0 15px;
    width: 100%;
}
  .page-content .fare-dtl .amount-payable,   .page-content .fare-dtl .fare-dtl-row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
  .page-content .fare-dtl .fare-dtl-row {
    padding: 7px 15px;
    font-size: 0;
}
  .page-content .fare-dtl .amount-payable .left-wing,   .page-content .fare-dtl .amount-payable .right-wing,   .page-content .fare-dtl .fare-dtl-row .left-wing,   .page-content .fare-dtl .fare-dtl-row .right-wing {
    width: auto;
}
  .page-content .fare-dtl .fare-dtl-row .left-wing {
    color: #878787;
    width: 57%;
    text-align: left;
}
  .page-content .fare-dtl .fare-dtl-row .right-wing {
    font-weight: 500;
    width: 43%;
    text-align: right;
}
  .page-content .fare-dtl .fare-dtl-row .left-wing,   .page-content .fare-dtl .fare-dtl-row .right-wing {
    display: inline-block;
    font-size: 14px;
    vertical-align: middle;
}
.u-text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
  .page-content .fare-dtl .fare-dtl-row .right-wing .c-price-display {
    display: inline-block;
    vertical-align: middle;
}
.u-text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}